@import "../../../style/theme.less";

.search {
  width: 100%;
  padding: 20px;
  border-radius: 3px;
  background-color: @background-color;
  box-sizing: border-box;

  &__form {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  &__submit-btn {
    width: 250px;
  }

  ::ng-deep {
    app-input,
    app-date-picker,
    app-input-number,
    app-autocomplete {
      margin-right: 20px;

      .input__field,
      .date-picker__field,
      .input-number__field,
      .autocomplete__field,
      .autocomplete__options {
        color: @white;
        background-color: @background-fade-color;
      }

      .date-picker__field {
        width: 160px;
      }
    }
  }
}
