<div class="search">
  <app-radio-group [options]="searchTypeOptions" [(ngModel)]="searchTypeValue">
  </app-radio-group>

  <form class="search__form" [formGroup]="searchForm">
    <app-input placeholder="From" formControlName="fromPlace"></app-input>
    <app-input placeholder="To" formControlName="toPlace"></app-input>
    <app-date-picker
      placeholder="Depart"
      formControlName="depart"
    ></app-date-picker>
    <app-date-picker
      placeholder="Return"
      formControlName="return"
    ></app-date-picker>
    <app-input-number
      placeholder="Ticket Count"
      formControlName="ticketCount"
    ></app-input-number>
  </form>
</div>
