<div class="header">
  <div class="header__logo">
    Logo
  </div>

  <div class="header__actions">
    <div
      class="header__user-actions"
      *ngIf="isUserAuthenticated$ | async; else noAuth"
    >
      <button class="header__logout-btn header__btn">Logout</button>
    </div>
  </div>

  <ng-template #noAuth>
    <div class="header__guest-actions">
      <button
        class="header__login-btn header__btn"
        (click)="openAuthModal('login')"
      >
        Login
      </button>
      <button
        class="header__register-btn header__btn"
        (click)="openAuthModal('registration')"
      >
        Register
      </button>
    </div>
  </ng-template>
</div>
