<div class="travel-route">
  <div class="travel-route__airlines">
    <div class="travel-route__airline" *ngFor="let transfer of travelRoute.transfers">
      <div class="travel-route__equipment">{{ transfer.airline }}</div>
      <div class="travel-route__plane-code">{{ transfer.planeNum[0] }} - {{ transfer.planeNum[1] }}</div>
    </div>
  </div>

  <div class="travel-route__fly-info">
    <ng-container
      [ngTemplateOutlet]="airportInfo"
      [ngTemplateOutletContext]="{
        time: firstTransfer.departDate,
        airportName: firstTransfer.departAirportName,
        airportCode: firstTransfer.departAirportCode
      }"
    ></ng-container>

    <div class="travel-route__duration">
      <div class="travel-route__duration-time">{{ travelDuration }}</div>
      <div class="travel-route__travel-line">
        <div class="travel-route__travel-stop" *ngFor="let _empty of getEmptyArray(stops)"></div>
      </div>

      <div class="travel-route__stops-count" *ngIf="stops; else nonStops">{{ stops }} Stops</div>
      <ng-template #nonStops>
        <div class="travel-route__stops-count travel-route__non-stops">Non Stops</div>
      </ng-template>
    </div>

    <ng-container
      [ngTemplateOutlet]="airportInfo"
      [ngTemplateOutletContext]="{
        time: lastTransfer.arriveDate,
        airportName: lastTransfer.arriveAirportName,
        airportCode: lastTransfer.arriveAirportCode
      }"
    ></ng-container>
  </div>
</div>

<ng-template #airportInfo let-time="time" let-airportName="airportName" let-airportCode="airportCode">
  <div class="travel-route__info">
    <div class="travel-route__time">{{ time | date: "shortTime" }}</div>
    <div class="travel-route__date">{{ time | date: "MMM d, EEE" }}</div>
    <div class="travel-route__airport">{{ airportName | uppercase }} {{ airportCode | uppercase }}</div>
  </div>
</ng-template>
