@import "../../style/theme.less";

.auth-modal {
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: 10;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  &__body {
    z-index: 11;
    position: absolute;
    background: @white;
    padding: 30px;
    top: 25%;
    border-radius: 5px;
  }

  &__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
    opacity: 0.7;
    background-color: @background-color;
  }

  &__close {
    top: -12px;
    right: -12px;
    padding: 4px;
    border: 1px solid @border-color;
    border-radius: 50%;
    background-color: @white;
    opacity: 1;
    cursor: pointer;

    &::before,
    &::after {
      top: 7px;
      left: 15px;
      height: 18px;
    }
  }
}
