<div class="autocomplete">
  <input
    class="autocomplete__field"
    [ngClass]="{ autocomplete__error: !!error }"
    [placeholder]="placeholder"
    [ngModel]="value"
    (ngModelChange)="onChange($event)"
  />

  <div class="autocomplete__error-tip" *ngIf="error">{{ error }}</div>

  <ng-container *ngIf="optionsIsShowed">
    <div class="autocomplete__options">
      <div class="autocomplete__option" *ngFor="let option of options" (click)="onSelect(option.value)">
        {{ option.label }}
      </div>
    </div>
    <div class="autocomplete__overlay" (click)="onClose()"></div>
  </ng-container>
</div>
